<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pdf to jpg</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" href="#">ILOVEPDF2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="#">MERGE PDF </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SPLIT PDF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">COMPRESS PDF</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CONVERT PDF
          </a>
          <div class="dropdown-menu" style="background-color:darkgray;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ALL PDF TOOLS
          </a>
          <div class="dropdown-menu" style="background-color:darkgray;" aria-labelledby="navbarDropdownMenuLink">
            
            <p class="dropdown-item" >CONVERT TO PDF</p>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <hr>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- ************************************************ nav end **************************************************** -->
     <style>
       .more{
           text-align: center;
           padding-top: 50px;
           font-family: 'Times New Roman', Times, serif;
           font: bold;
       } 
       .more1{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;

       }
    </style>
</head>
<body>
    <div class="container">
            <h1 class="more">PDF to JPGs</h1>
            <h4 class="more1">Convert each PDF page into a JPG or extract all images contained in a PDF. <br>typography.</h4>
            <br>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pdf.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pdf.js') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pdf-script.js') }}" />
            <div class="file-upload">
              <form action="pdf_to_jpg.html" method="post" enctype="multipart/form-data">
                <h4>PDF 0</h4>
                <input type="file" name="file1" id="file1">

                <button type="submit">Image</button>
              </form>
            </div>
          </div>
         
          </div>
        </body>
        
        </html>